<div class='header-view'>
  <md-toolbar color='primary'>
    <span class='title spacer'>Products app</span>
    <button md-icon-button (click)='unAuthorize()'>
      <md-icon class='md-24'>exit_to_app</md-icon>
    </button>
  </md-toolbar>
  <app-product-list [products]='products | async' (onEdit)='editProduct($event)' (onSelect)='selectProduct($event)' (onDelete)='deleteProduct($event)'></app-product-list>
  <button md-fab class='add fab-hide-to-bottom' (click)='addProduct()'>
    <md-icon class='md-24'>add</md-icon>
  </button>
</div>
