<div class='products-list'>
  <table *ngIf='products.length > 0'>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Created</th>
        <th width="40"></th>
        <th width="40"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let product of products'>
        <td><a [routerLink]="['/products', product.id]">{{product.id}}</a></td>
        <td>{{product.name}}</td>
        <td>{{product.price | decimalPrice}}</td>
        <td>{{product.created | date:'dd-MM-yyyy HH:mm:ss'}}</td>
        <td>
          <button md-icon-button (click)='editProduct(product.id)'>
            <md-icon class='md-24'>edit</md-icon>
          </button>
        </td>
        <td>
          <button md-icon-button (click)='deleteProduct(product.id)'>
            <md-icon class='md-24'>delete</md-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class='empty' *ngIf='products.length === 0'>list is empty, add some products</div>
</div>
