<div class='auth'>
  <md-card>
    <md-card-content>
      <form (submit)='authorize()'>
        <md-input-container>
          <input md-input type='text' placeholder='username' [(ngModel)]='username' [ngModelOptions]='{standalone: true}'>
        </md-input-container>
        <md-input-container>
          <input md-input type='password' placeholder='password' [(ngModel)]='password' [ngModelOptions]='{standalone: true}'>
        </md-input-container>
        <button type='submit' md-raised-button>authorize</button>
      </form>
    </md-card-content>
  </md-card>
</div>
