.auth {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.auth h2 {
  text-align: center;
}

.auth md-card-content form {
  min-width: 220px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}