<div class='auth'>
  <md-card>
    <md-card-content>
      <p *ngIf='authorized'>
        Welcome! <a routerLink='/products'>Go to products page</a>
      </p>
      <form *ngIf='!authorized' (submit)='authorize()'>
        <md-input-container>
          <input md-input type='text' placeholder='username' name='username' [(ngModel)]='username'>
        </md-input-container>
        <md-input-container>
          <input md-input type='password' placeholder='password' name='password' [(ngModel)]='password'>
        </md-input-container>
        <button type='submit' md-raised-button>authorize</button>
      </form>
    </md-card-content>
  </md-card>
</div>
